@page "/sale-list"
@rendermode InteractiveServer
<MudSnackbarProvider />
<PageTitle>LAUNCHPAD LIST</PageTitle>
<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        @if (PoolState.Value.Pools != null)
        {
            if (IsLoading && PoolState.Value.Pools.Count == 0)
            {
                <MudItem xs="12" sm="12" md="12">
                    <MudGrid xs="12" sm="12" md="12">
                        <MudItem xs="12">
                            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                        </MudItem>
                    </MudGrid>
                </MudItem>
                
            }
            else
            {
                @foreach (var pool in PoolState.Value.Pools)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <MudPaper Elevation="2" Class="pa-4" Style="background-color:#272B37">
                            <MudGrid xs="12" sm="12" md="12">
                                <MudItem xs="3" sm="3" md="3">
                                    <MudImage Src="@pool.LogoUrl" Alt="token logo" Class="rounded-lg"></MudImage>
                                </MudItem>
                                <MudItem xs="6" sm="6" md="6">
                                    <MudItem xs="12">
                                        <p class="text-white font-bold text-xl">@pool.PoolTitle</p>
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="12" Class="pt-2">
                                        <MudLink Href="@pool.WebsiteLink">
                                            <MudIcon Icon="@websiteIcon" Style="color:white">
                                            </MudIcon>
                                        </MudLink>
                                    </MudItem>

                                </MudItem>
                                <MudItem xs="12" sm="12" md="12" Class="justify-between justify-content-center">
                                    @if (pool.State == Services.Web3.Dtos.PoolState.InUse)
                                    {
                                        <MudChip Color="Color.Success">Presale Active</MudChip>
                                    }
                                    else if (pool.State == Services.Web3.Dtos.PoolState.Completed)
                                    {
                                        <MudChip Color="Color.Warning">Presale Completed</MudChip>
                                    }
                                    else if (pool.State == Services.Web3.Dtos.PoolState.NotStarted)
                                    {
                                        <MudChip Color="Color.Error">Presale Not Started</MudChip>
                                    }
                                </MudItem>
                            </MudGrid>
                            <MudGrid xs="12" sm="12" md="12" Class="pt-4">
                                <MudItem xs="5">
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Style="color:white">Total raised</MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Style="color:white">Softcap</MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Style="color:white">Hardcap</MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Style="color:white">Min / Max Alloc</MudText>
                                    </MudItem>
                                    <MudItem Class="pt-2">
                                        <MudText Typo="Typo.body1" Style="color:white">Start Time:</MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Style="color:white">End Time:</MudText>
                                    </MudItem>
                                </MudItem>
                                <MudItem xs="7">
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Align="Align.End" Style="color:white"><strong>@pool.TotalRaised MATIC</strong></MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Align="Align.End" Style="color:white"><strong>@pool.SoftCap MATIC</strong></MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Align="Align.End" Style="color:white"><strong>@pool.HardCap MATIC</strong></MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Align="Align.End" Style="color:white"><strong>@pool.MinimumBuy MATIC ~ @pool.MaximumBuy MATIC</strong></MudText>
                                    </MudItem>
                                    <MudItem Class="pt-2">
                                        <MudText Typo="Typo.body1" Align="Align.End" Style="color:white"><strong>@pool.StartTime</strong></MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.body1" Align="Align.End" Style="color:white"><strong>@pool.EndTime</strong></MudText>
                                    </MudItem>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudProgressLinear Color="Color.Primary" Rounded="true" Size="Size.Medium" Value="double.Parse(pool.RaisedPercentage.ToString())">
                                        <MudText Typo="Typo.caption" Style="color:white">
                                            <b>@pool.RaisedPercentage.ToString("0.00") %</b>
                                        </MudText>
                                    </MudProgressLinear>

                                </MudItem>
                                <MudItem xs="12">
                                    <MudButton Class="mx-auto w-full flex items-center justify-center inline-block px-4 py-2.5 bg-blue-600 text-white font-bold text-base menu-btn leading-tight shadow-md hover:bg-blue-700 hover:shadow-lg hover:bg-blue-700 focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" OnClick="@(()=> ViewDetail(pool))">
                                        View Pool
                                    </MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                }
            }


        }

    </MudGrid>
</MudContainer>

@code {
    const string websiteIcon = @"<svg style=""width:24px;height:24px"" viewBox=""0 0 24 24"">
    <path fill=""currentColor"" d=""M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm6.355-6.048v-.105c0-.922 0-1.343-.652-1.716a7.374 7.374 0 0 0-.645-.325c-.367-.167-.61-.276-.938-.756a12.014 12.014 0 0 1-.116-.172c-.345-.525-.594-.903-1.542-.753-1.865.296-2.003.624-2.085 1.178l-.013.091c-.121.81-.143 1.082.195 1.437 1.265 1.327 2.023 2.284 2.253 2.844.112.273.4 1.1.202 1.918a8.185 8.185 0 0 0 3.151-2.237c.11-.374.19-.84.19-1.404zM12 3.833c-2.317 0-4.41.966-5.896 2.516.177.123.331.296.437.534.204.457.204.928.204 1.345 0 .328 0 .64.105.865.144.308.766.44 1.315.554.197.042.399.084.583.135.506.14.898.595 1.211.96.13.151.323.374.42.43.05-.036.211-.211.29-.498.062-.22.044-.414-.045-.52-.56-.66-.529-1.93-.356-2.399.272-.739 1.122-.684 1.744-.644.232.015.45.03.614.009.622-.078.814-1.025.949-1.21.292-.4 1.186-1.003 1.74-1.375A8.138 8.138 0 0 0 12 3.833z"" />
</svg>";
    const string telegramIcon = @"<svg style=""width:24px;height:24px"" viewBox=""0 0 24 24"">
    <path fill=""currentColor"" d=""M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"" />
</svg>";
    const string twitterIcon = @"<svg style=""width:24px;height:24px"" viewBox=""0 0 24 24"">
    <path fill=""currentColor"" d=""M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"" />
</svg>";
    const string instagramIcon = @"<svg style=""width:24px;height:24px"" viewBox=""0 0 24 24"">
    <path fill=""currentColor"" d=""M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"" />
</svg>";
}
