@rendermode InteractiveServer
<MudSnackbarProvider />
<h6 class="text-white text-xl font-bold lg:text-3xl text-center px-2 py-4 w-full mx-auto -mt-1">
    CREATE LAUNCHPAD
</h6>
<div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-4">
    <MudItem>
        <MudTimeline TimelineOrientation="TimelineOrientation.Horizontal" TimelinePosition="TimelinePosition.Top" Reverse="true">
            <MudTimelineItem>
                <MudText Style="color:#ffff">Verify Token</MudText>
            </MudTimelineItem>
            <MudTimelineItem>
                <MudText Style="color:#ffff">DeFi Launchpad Info</MudText>
            </MudTimelineItem>
            <MudTimelineItem>
                <MudText Style="color:#ffff">Add Additional Info</MudText>
            </MudTimelineItem>
            <MudTimelineItem DotStyle="background-color: #6DC4E3">
                <MudText Style="color:#ffff">Finish</MudText>
            </MudTimelineItem>
        </MudTimeline>
    </MudItem>
    <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-10">
        <div class="mx auto rounded-md bg-hr w-full border-1  shadow-lg items-center justify-between" style="border:1px">
            <div class="mt-1 w-full p-4">
                <div class="flex flex-col items-center">
                    <h1 class="text-white text-xl lg:text-3xl text-center px-2 py-10 w-fit mx-auto -mt-7">
                        Review your information
                    </h1>
                </div>
                <div class="mt-4 ">
                    <MudGrid Spacing="0">
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Total token</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.Token.TotalSupply
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Name</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.Token.Name
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Symbol</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.Token.Symbol
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Decimal</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.Token.Decimals
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                           <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Softcap</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.SoftCap
                                    </p>
                                </MudItem>
                           </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Hardcap</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.HardCap
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Minimum buy</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.MinimumBuy
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Maximum buy</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.MaximumBuy
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                           <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">Start time</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.StartTime.Value.ToString()
                                    </p>
                                </MudItem>
                           </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="2">
                                    <p>
                                        <span class="text-white">End time</span>
                                    </p>
                                </MudItem>
                                <MudItem xs="10" Class="pr-15">
                                    <p class="text-info text-right">
                                        @Presale.PresaleState.Value.EndTime.Value.ToString()
                                    </p>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudGrid>
                            <MudItem xs="4">

                            </MudItem>
                            <MudItem xs="2" Class="pt-10">
                                <button type="button"
                                        class="mx-auto w-full flex inline-block px-4 py-2.5 bg-blue-600 text-white font-bold text-base menu-btn leading-tight shadow-md hover:bg-blue-700 hover:shadow-lg hover:bg-blue-700 focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                                        @onclick="Presale.BackToPreviousStep">
                                    Back
                                </button>
                            </MudItem>
                            <MudItem xs="2" Class="pt-10">
                                <button type="button"
                                        class="mx-auto w-full flex inline-block px-4 py-2.5 bg-blue-600 text-white font-bold text-base menu-btn leading-tight shadow-md hover:bg-blue-700 hover:shadow-lg hover:bg-blue-700 focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                                        @onclick="Submit">
                                    Submit
                                </button>
                            </MudItem>
                        </MudGrid>
                        

                    </MudGrid>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
